.tree_view {
  @icons: "/client/icons";
  @indent: 0 ;
  
  @icon-width: 14px;
  @icon-height: 14px;
  @icon-size: @icon-width @icon-height;
  
  .icon-image(@name) {
    background-image:    url("@{icons}/@{name}.svg");
    padding-left: @icon-width + 5;
  }
  
  .icon-bg(@name) {
    .icon-image(@name);
    background-size:     @icon-size;
    background-repeat:   no-repeat;
    background-position: 2 3;
    display: block;
  }
  
  &, & ol {
    padding-left: @indent;
    margin: 0 0 0 0;
  }
  li {
    list-style: none;
    
    &.leaf {
      a {
        text-decoration: none;
        color: inherit;
        padding-top: 1px;
        margin-top: 1px;
        margin-bottom: 1px;
        padding-right: 2px;
        &:hover {
          background-color: #99CCFF;
          color: white;
        }
      }
    }
    
	&.file {
      a { .icon-bg("file"); }
    }
    
	label {
      cursor: pointer;
      display: block;
      & > ol { padding-left: @icon-width + 5; }
      .title {
        .icon-bg("folder-closed");
        &:hover {
          background-color: #66CCFF;
          color: white;
        }
      }
      input {
        display: none;
        & + ol > li { display: none; }
        &:checked + ol > li { display: block; }
      }
    }
  }
}