.panel_stack {
  width: 100%;
  height: 100%;
}

.panel_stack .panel {
  min-height: 50px;
  max-height: 90%;
  overflow:   auto;
  resize:     vertical;
  border:     1px outset #ddd;
  margin:      1px;
}